<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IProjectService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService/ProjectService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProjectService"
        contract="ProjectService.IProjectService" name="WSHttpBinding_IProjectService">
        <identity>
          <userPrincipalName value="WELLE\welle" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
