<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpStream" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IProjectService" />
                <binding name="WSHttpBinding_IFileService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService/FileUploadService/"
                binding="basicHttpBinding" bindingConfiguration="basicHttpStream"
                contract="FileUploadService.IFileUpLoadService" name="basicHttpStream" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService/ProjectService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProjectService"
                contract="ProjectService.IProjectService" name="WSHttpBinding_IProjectService">
                <identity>
                    <userPrincipalName value="the-satellite\Andreas" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService/FileService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileService"
                contract="addFileService.IFileService" name="WSHttpBinding_IFileService">
                <identity>
                    <userPrincipalName value="the-satellite\Andreas" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>